.todo__list{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.todo__item{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bcg-blocks);
    border-radius: 8px;
    border: 1px solid transparent;
    margin-bottom: 40px;
    width: 90%;
}

.todo__checkbox{
    width: 40px;
    height: 40px;
}

.todo__item .todo__checkbox:checked + .todo__text .todo__title,
.todo__item .todo__checkbox:checked + .todo__text .todo__description{
    text-decoration: line-through;
    color: rgb(201, 201, 201);
}

.todo__text{
    display: flex;
    flex-direction: column;
    font-size: var(--fz-middle);
    margin-right: auto;
    padding-bottom: 50px;
}

.todo__description{
    width: 100%;
    max-width: 320px;
    font-size: var(--fz-small);
    word-wrap: break-word;
}

.todo__actions{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    column-gap: 12px;
}

.todo__buttons{
    display: flex;
    gap: 12px;
}

.todo__trash{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
    transition: .3s;
    font-weight: 600;
}

.todo__trash:hover{
    transition: .3s;
    color: #ff2828;
}

@media screen and (max-width: 1240px) {
    .todo__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .todo__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}