.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 100px;
}

.form__input{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 500;
    font-family: inherit;
    background-color: #707070;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 400px;
    height: 70px;
}

.form__input::placeholder{
    color: #ffffffb6;
}

.form__button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 500;
    font-family: inherit;
    background-color: #707070;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 200px;
    height: 70px;
}

.form__button:focus,
.form__button :focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
}