.form{
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: var(--bcg-blocks);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 50px;
}

.form:first-child{
    margin-left: auto;
}

.form__input{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 500;
    font-family: inherit;
    border: 2px solid var(--border-crl);
    cursor: pointer;
    transition: border-color 0.25s;
    width: 400px;
    height: 70px;
    margin-bottom: 20px;
}

.form__button{
    border-radius: 30px;
    border: 2px solid var(--border-crl);
    padding: 6px 12px;
    font-size: var(--fz-middle);
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 200px;
    height: 70px;
}

.form__close{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 0;
    top: 5px;
}

.form__close_btn{
    color: var(--white);
}

.todo__edit{
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
}

.todo__edit:hover{
    transition: .3s;
    color: #8d14ff;
}